header {
    padding: 30px 20px 30px 20px;
    display: flex;
    color: black !important;
    font-size: 200%;
    justify-content: space-between;
    font-family: "Century";
}

.links a {
    margin-right: 20px;
    text-decoration: none;
}

.link {
    text-decoration: none;
}