header {
    padding: 30px 20px 30px 20px;
    display: flex;
    color: black;
    font-size: 40%;
    justify-content: space-between;
    font-family: "Century";
    text-decoration-line: overline;
}

.links {
    margin-right: 20px;
    text-decoration: none;
}

.link {
    text-decoration: none;
}