header {
    padding: 15px 15px 15px 15px;
    color: black !important;
    text-decoration: none;
    font-size: 100%;
    font-family: "Century";
}

.headers {
    justify-content: space-between;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
}

.link {
    text-decoration: none;
}